mixin video(url)
  .video-wrapper
    iframe(
      class="video"
      src=url
      frameborder="0"
      allowfullscreen
    )

mixin image(url, alt)
  img(src=url alt=alt)

mixin button(url)
  a(class="button open" href=url target="blank")
    block
