// ARTICLE CONTENT
section(id="start" class="article content main")

  // CONTENT
  main

    //// Challenge

    h2 Challenge

    p The end of the 3rd year of college at IESA Multimedia is marked by a 1 month project which brings students from different disciplines together. I was chosen to lead the user experience and grouped with two developers, two motion designers, two visual designers and another UX designer. We had to #[strong build a mobile app for a randomly assigned target]: fanboys.

    //// Research

    h2 Research

    p As the fanboys were unknown to us, we started by looking for a definition. A fanboy is a person who is an extremely or overly enthusiastic fan of someone or something. The term is often used to qualify fans of well-known brands (Eg. Apple, Disney…).

    h3 Qualitative study

    h4 Interviews

    p In order to #[strong pinpoint the needs and motivations] of our target we interviewed 6 fanboys. The questionnaire consisted of 10 open questions divided in three distinct themes: the genesis of the brand’s idolatry, the sense of belonging to its community and the management of the conflicts tied to this passion.

    img(class="glimpse" src=require("../assets/content/zenitth/interviews.png") alt="Image Title")

    h4 Data analysis

    p We reviewed all the interviews, one by one. For each question, we analysed the answer in two different ways: #[strong factual and emotional]. The emotional analysis helps to create emotional diagrams while the factual analysis helps to create quantitative studies.

    img(class="glimpse" src=require("../assets/content/zenitth/dataanalysis.png") alt="Image Title")

    h4 Emotional diagram

    p We mapped the emotional analysis in #[strong extreme categories] and linked each interviewee to the most accurate. It allowed us to #[strong uncover patterns]. These patterns represent different mindsets, motivations, frustrations and needs.

    img(class="glimpse" src=require("../assets/content/zenitth/emotionaldiagram.png") alt="Image Title")

    p We discovered two different psychological profiles: #[strong rational and irrational]. The irrational fanboys don’t seem to be conscious of the origin or the reasons of their idolatry. Rational fanboys, however, know that very well. The rationals enjoy competition while the irrationals try to avoid it.
    
    h3 Quantitative study
    
    h4 Survey
    
    p We created an online survey to #[strong find out how significants those profiles are]. It was shared to our Facebook contacts and answered by 133 people. The two same profiles emerged again. We also found out that 51% of people surveyed were ready to take risks to defend their beloved brand.
    
    h3 Personas
    
    p With the insights gathered we were able to create two different profile types. If our personas are similar in the excessive love for a particular brand, the are very different when it comes to feelings, #[strong frustrations and motivations].
    
    img(class="glimpse" src=require("../assets/content/zenitth/personas.png") alt="Image Title")

    h4 Maxime
    
    p Our primary persona is fan of Apple. He became an addict because they sell the best products on the market. He compared a lot of brands before buying. To him, Apple is a token of quality. Owning an Apple product is a privilege and a life style. The evolution of the brand frustrates him: Apple should stay an exclusive brand for very special people. He says: #[strong “When I preach the word of Apple, I try to show that Apple is not a fashionable phenomenon.”]
    
    h4 Lisa
    
    p Our secondary persona is fan of Pokémon. She has been a fan since kindergarten. When she feels like life is moving too fast and it’s time to grow up, Pokémon brings her back to when she was the most comfortable. It brings her joy and motivation. She is frustrated because Pokémon is not growing up with her. She says: #[strong “It’s a strong feeling. Pokémon is a part of me, I can’t explain it.”]
    
    //// USAGES
    
    h2 Usages
    
    h3 Alignment diagram
    
    p We started by analysing our targets typical day. Being quite similar no matter the persona, we decided to create one user journey which fitted both and mapped it with which service we could suggest them, when. Work time is the best moment to send push notifications or facebook posts. Idle moments like transports or lunch are great moments to push users to defy people or do a quizz.

    img(class="glimpse" src=require("../assets/content/zenitth/alignmentdiagram.png") alt="Image Title")

    h3 User flows
    
    p Our personas have different goals, and therefore different flows when it comes to using our mobile app. Maxime wants his brand to win, he likes competition and wants to know everything about it. Lisa wants to learn nice stuff about her brand but only for self-development, not to compete.

    img(class="glimpse" src=require("../assets/content/zenitth/userflows.png") alt="Image Title")
    
    h3 Experience map
    
    p Of the two personas, Maxime is the one that’s into competition, so we focused on satisfying his needs first (competition was the theme of the exercise). To make sure his experience would be as good as possible we mapped his flow with #[strong positive and negative outcomes]. Positives outcomes are in blue and negative outcomes in green. We imagined his personal satisfaction while using our product.
    
    img(class="glimpse" src=require("../assets/content/zenitth/experiencemap1.png") alt="Image Title")
    
    //// specifications
    
    h2 Specifications
    
    h3 Brainstorming
    
    p We came up with a lot of feature #[strong ideas] during the research phase. We organised a workshop to write them down, #[strong challenge] them, find new ones and #[strong prioritise] them. We pushed the team to think about the motivations and frustrations of our personas in order to keep only the features that would really matter to our final user.
    
    img(class="glimpse" src=require("../assets/content/zenitth/brainstorming.png") alt="Image Title")
    
    //// Information architecture
    
    h2 Information architecture
    
    h3 Card sorting
    
    p Once we had defined our set of MVP features we organised a card sorting with 7 potential users. Clear pattern emerged from the study which allowed us to create a tree view very quickly.
    
    img(class="glimpse" src=require("../assets/content/zenitth/cardsorting.png") alt="Image Title")

    h3 Tree view
    
    p We used the result from the card sorting study to create a tree. The developers used it as a guide to start coding features.

    img(class="glimpse" src=require("../assets/content/zenitth/treeview.png") alt="Image Title")

    h3 Tree testing
    
    p To #[strong verify the coherence] of our information architecture and labelling, we set up a tree testing study with multiple tasks and observed 4 potential users complete it. No issues were uncovered.
    
    img(class="glimpse" src=require("../assets/content/zenitth/treetesting.png") alt="Image Title")
    
    //// interface
    
    h2 Interface
    
    h3 Benchmark
    
    p We looked at other mobile apps to find inspiration for our interfaces. 
    
    img(class="glimpse" src=require("../assets/content/zenitth/benchmark1.png") alt="Image Title")
    
    img(class="glimpse" src=require("../assets/content/zenitth/benchmark2.png") alt="Image Title")
    
    h3 Zoning
    
    h4 Team workshop
    
    p In order to gather more interface ideas, we organised a 6to1/1UP workshop with all the team on the “quizz” part of the app. Each team member sketched #[strong 6 interfaces ideas in 5 minutes]. Afterward, we hanged them on the wall and debated on what we liked/disliked in each of them and voted to keep only 3 interfaces.

    img(class="glimpse" src=require("../assets/content/zenitth/zoningworkshop1.png") alt="Image Title")

    p Finally, we each drew one interface to regroup the best ideas from the 3 previously selected interfaces, hanged them on the wall again, debated again and all agreed on the concepts we wanted to keep.
    
    img(class="glimpse" src=require("../assets/content/zenitth/zoningworkshop2.png") alt="Image Title")

    h4 Sketches
    
    p We put on paper all the screens of our app with the ideas gathered from the workshop fresh in mind. Once all the flows were covered, we invited the team again to #[strong uncover edge cases] we did not thought of and potential visual design or development issues. All good!

    img(class="glimpse" src=require("../assets/content/zenitth/zoning.png") alt="Image Title")

    h4 Paper prototype
    
    p From our zoning, we could easily create a paper prototype (via Pop mobile app) to test the interface with potential users. #[strong That uncovered an issue]: the position of the timer being at the bottom of the screen, the user could not see it while answering. So we moved it to the top of the screen. Problem solved!
    
    h4 Wireframes
    
    p Now confident in our interfaces choices, we drew the interfaces using Adobe Illustrator. It allowed us to improve on our zoning. We carefully selected the #[strong spacings and sizes of the elements and typography]. Detailed wireframes allowed the development team to start building the screens and the visual design team to apply the branding to the interface.

    img(class="glimpse" src=require("../assets/content/zenitth/wireframes1.png") alt="Image Title")
    
    img(class="glimpse" src=require("../assets/content/zenitth/wireframes2.png") alt="Image Title")
    
    img(class="glimpse" src=require("../assets/content/zenitth/wireframes3.png") alt="Image Title")
    
    img(class="glimpse" src=require("../assets/content/zenitth/wireframes4.png") alt="Image Title")
    
    h3 Interactions
    
    p Once our wireframes were ready, we used them to reproduce the main user flow to clearly show the interactions expected.
    
    img(class="glimpse" src=require("../assets/content/zenitth/interactions1.png") alt="Image Title")
    
    img(class="glimpse" src=require("../assets/content/zenitth/interactions2.png") alt="Image Title")
    
    h3 Prototype
    
    p Finally, we built a prototype with the wireframes to make sure our app was easy to use. We observed 5 people use it on a mobile phone. No difficulties were uncovered.

    //// oral
    
    h2 Oral presentation
    
    p I presented our project to the jury with one of the visual designer. We worked on the slides and the pitch together with our team to gather feedback. During the presentation, we simulated a live quizz which was engaging. The public and the jury reacted well to our idea.    








// ARTICLE CONTENT RETRO
section(class="article content retro")

  // CONTENT
  main

    h2 Retrospective

    p Looking back, I think we could have spend less time on the research and more on the interfaces. We found the fanboys stories so interesting that it was hard for us to stop digging and move on. The interface suffered at the end as we did not have enough time to work on micro-interactions which would have brought our app to another level. With some extra time we also could have done more user tests to uncover ergonomic issues.








// END 
